<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{base_url_path}}/static/game.css">
  <script>
    window.addEventListener('pageshow', (event) => {
      document.getElementById('file-upload-label-text').textContent =
        document.getElementById('file-upload-input').files[0].name;
    });
    function file_selected(e) {
      document.getElementById('file-upload-label-text').textContent = e.files[0].name;
    }
  </script>
</head>
<body>
    <div class="container">
        <div class="left-column">
            <p>Active Bots: {{active_bots_num}} (<a href="{{base_url_path}}/bots?game_id={{game_id}}">See all</a>)</p>
            <p class="bold">Top Bots (score/matches):</p>
            <ul>
            {{#each bots}}
               <li>{{this.owner}}/{{this.name}}: {{this.average_score}}/{{matches_played}}</li>
            {{/each}}
            </ul>
            <p class="bold">Recent mathches (<a href="{{base_url_path}}/matches?game_id={{game_id}}">See all</a>)</p>
            <ul>
            {{#each matches}}
              <li><a href={{../base_url_path}}/visualizer/{{this.match_id}}>{{this.match_id}}</a>: {{this.system_message}}</li>
            {{/each}}
            </ul>
        </div>
        <div class="center-column">
            <iframe id="embeddedContent" src="{{url}}" sandbox= >...</iframe>
        </div>
        <div class="right-column">
            <h2>Create a Bot</h2>
            <form action="{{base_url_path}}/create_bot/{{game_id}}" method="post" enctype="multipart/form-data">
                <label for="language">Language:</label>
                <select id="language" name="language">
                  {{#each languages}}
                  <option value="{{value}}" {{#if selected}}selected=1{{/if}}>{{name}}</option>
                  {{/each}}
                </select>
                <label class="file-upload-label">
                  <input type="file" id="file-upload-input" name="file" onchange="file_selected(this);" required/>
                  <span id="file-upload-label-text">Upload Source Code</span>
                </label>
                <input type="text" id="name" name="name" placeholder="Bot name"</input>
                <button type="submit">Submit</button>
            </form>
            <div style="padding-top:20px;">
              Example Implementations:
              <br>
              {{#if reference_bots.[0]}}
              <ul>
                {{#each reference_bots}}
                  <li><a href="{{this.source_url}}">{{this.language}}</a></li>
                {{/each}}
              </ul>
              {{else}}
                <p>None</p>
              {{/if}}
            </div>
            {{#if show_edit}}
            <hr>
            <div style="padding-top:20px;">
                <a href="{{base_url_path}}/edit_game?game_id={{game_id}}" class="button">Edit Game</a>
            </div>
            {{/if}}
        </div>
    </div>
</body>
</html>

