<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{base_url_path}}/static/bots.css">
  </head>
  <title>Recent Matches</title>
  <body>
    <table>
      <tr>
        <th>Id</th>
        <th>Game</th>
        <th>Created</th>
        <th>Duration</th>
        <th>System Message</th>
        <th>
          <table>
            <tr>
              <th style="width:40%;">Player</th>
              <th style="width:20%;">Score</th>
              <th style="width:40%;">System message</th>
            </tr>
          </table>
        </th>
      </tr>
      {{#each matches}}
        <tr>
          <td><a href={{../base_url_path}}/visualizer/{{this.match_id}}>{{this.match_id}}</a></td>
          <td>{{this.game_name}}</td>
          <td>{{this.creation_time}}</td>
          <td>{{this.duration}}</td>
          <td>{{this.system_message}}</td>
          <td>
            <table>
              {{#each this.participations}}
                <tr {{#if highlight}}class="highlighted"{{/if}}>
                  <td style="widht:40%;">{{this.bot_name}}</td>
                  <td style="width:20%;">{{this.score}}</td>
                  <td style="width:40%;">{{this.system_message}}</td>
                </tr>
              {{/each}}
            </table>
          </td>
        <tr>
      {{/each}}
    </table>
  </body>
</html>
